* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: #d3d1d1;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 6px 8px;
  background-color: rgb(104, 104, 245);
  border: none;
  color: white;
}
