@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffecc0;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.card {
  background-color: white;
  width: 500px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
}
