@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffecc0;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  display: flex;
  justify-content: center;

  --blue: #1a1a47;

  color: var(--blue);
}

.card {
  background-color: white;
  width: 500px;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  gap: 5px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 2;
}

.img-wrapper {
  flex: 1;
}
.img-wrapper img {
  width: 100%;
}

.tag {
  background-color: var(--blue);
  width: fit-content;
  color: white;
  padding: 0.1rem 0.3rem;
  font-size: 0.6rem;
  border-radius: 10px;
}

h3 {
  font-size: 1rem;
}

.summary .previous-price {
  text-decoration: line-through;
  opacity: 0.8;
}

.summary .price {
  font-size: 1.45rem;
  font-weight: 700;
}

.summary .cta {
  font-size: 0.5rem;
  color: gray;
}
.primary {
  position: relative;
  background-color: #4788eae9;
  border: none;
  color: white;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 5px;
  overflow: hidden;
}
.primary::after {
  content: "";
  position: absolute;
  background-color: #0066ffac;
  height: 12%;
  width: 100%;
  bottom: 0;
  left: 0;
}
.stock {
  display: flex;
  align-items: center;
  gap: 4px;
}
.stock p {
  font-size: 0.6rem;
}
.indicator {
  width: 8px;
  height: 8px;
  background-color: #06d68b;
  border-radius: 50%;
}

.secondary-btns {
  display: flex;
  gap: 0.5rem;
}

.secondary-btns .btn {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.2s;
}

.secondary-btns .btn:hover {
  background-color: var(--blue);
  color: white;
  border: none;
}
