@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fa6ea8;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 2rem;
  justify-content: center;
  /* align-items: center; */
}
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  gap: 0.4rem;
  margin: 10% 5%;
  max-width: 600px;
}
.not-found h1 {
  font-size: 6rem;
}
.not-found p {
  font-size: 1.2rem;
}

.not-found p:last-child {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: italic;
}
