@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #ff7d08;
  --borderColor: #9898a1;

  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 350px;
  border: 0.8px solid var(--borderColor);
  border-radius: 5px;
  background-color: white;
}
.img-wrapper {
  position: relative;
  height: 15rem;
  border-radius: 5px;
  overflow: hidden;
}
.img-wrapper .wishlist {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.4rem;
  color: gray;
}
.img-wrapper > div {
  position: absolute;
  background-color: var(--primary);
  top: 5%;
  left: 0;
  padding: 3px 15px 3px 10px;
  color: white;
  font-size: 0.85rem;
  clip-path: polygon(100% 0, 83% 49%, 100% 100%, 0 100%, 0 0);
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content h3 {
  font-weight: 600;
}

.price {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 600;
}
.price sub {
  color: black;
  font-weight: 300;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantity {
  display: flex;
}
.quantity > * {
  border: 1px solid var(--borderColor);
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity > button {
  background-color: transparent;
}
.quantity > button i {
  font-size: 1rem;
}
.quantity .minus {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.quantity .plus {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.quantity > p {
  background-color: #efefef;
  font-size: 1.2rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 0.4rem;
  padding: 0.7rem 1rem 1rem 1rem;
}
.cart {
  background-color: #3cba16;
  color: white;
  padding: 4px;
  border-radius: 50%;
}
.tag {
  color: var(--borderColor);
}
