@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeffc;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.blog {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow: hidden;
  color: #3e3d49;
}
.img-wrapper {
  height: 16rem;
  width: 100%;
  position: relative;
}
.tag {
  position: absolute;
  top: 4%;
  left: 3%;
  background-color: #f8638c;
  color: white;
  padding: 0.1rem 0.6rem;
  border-radius: 5px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  padding: 0.7rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.excerpt {
  font-size: 0.85rem;
}
.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author div:first-child {
  display: flex;
  gap: 0.4rem;
}
.author div:first-child img {
  border-radius: 50%;
}
.author .title {
  font-size: 0.8rem;
}

hr {
  margin: 0.4rem 0;
}
.date {
  font-size: 1rem;
}
