@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;

  --primary: #1c1b4f;
  --secondary: #524b77;
  --btn-bg: #e1e5f3;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: #f3f1fc;
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
}
p {
  color: var(--secondary);
  font-size: 0.8rem;
}
section {
  background-color: white;
  padding: 1.5rem;
  position: relative;
  width: 450px;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
section::before {
  content: "";
  z-index: -1;
  border-radius: inherit;
  position: absolute;
  width: 80%;
  height: 112%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 0.3rem;
  text-align: center;
}
.includes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.includes > div {
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: var(--btn-bg);
  padding: 0.2rem 0.4rem;
}
.includes > div p {
  font-size: 0.7rem;
}

.creator {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}
.avatar {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.creator h4 {
  font-size: 0.8rem;
}
.creator button {
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  width: fit-content;
  font-size: 0.7rem;
}
