@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

p {
  font-size: 0.85rem;
  color: #333;
}

button {
  align-self: center;
  padding: 7px 12px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
