@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  background-color: #f0f4fc;
}
main {
  display: flex;
  gap: 1rem;
  margin-top: 10vh;
}

button {
  padding: 9px 12px;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  transform: scale(1.09);
  opacity: 0.8;
}
.btn-success {
  background-color: green;
}
.btn-error {
  background-color: red;
}
.toast-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: absolute;
  top: 2%;
  left: 5%;
  right: 5%;
}

.toast {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.toast > p {
  font-size: 1.4rem;
}
.close-icon {
  margin-left: auto;
  cursor: pointer;
  transition: 0.2s;
}
.close-icon:hover {
  transform: scale(1.2);
}
