@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #4a5df9;
  --inputBg: #121212;
  --inputGray: rgb(85, 85, 85);
  --textColor: #a8a8a8;

  padding: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  color: var(--textColor);
}

.ig {
  width: 350px;
  padding: 1rem;
  border: 1px solid var(--inputGray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.9rem;
}

button {
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

.ig h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: white;
  font-size: 2.1rem;
}

.ig .desc {
  font-size: 0.9rem;
  font-weight: 500;
}

.log-in-with-fb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border: none;
  padding: 7px 10px;
  color: white;
  border-radius: 5px;
  width: 100%;
  gap: 0.2rem;
}

.field {
  position: relative;
  width: 100%;
}

.field span {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  font-size: 0.7rem;
}

.field input {
  width: 100%;
  padding: 8px 12px;
  border: 0.8px solid var(--inputGray);
  background-color: var(--inputBg);
  border-radius: 5px;
}

.disclaimer {
  font-size: 0.6rem;
}

.sign-up {
  padding: 10px 12px;
  width: 100%;
  border: none;
  color: white;
  border-radius: 5px;
  background: var(--primary);
}

.sign-up span {
  color: var(--primary);
}

.or {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.or > div {
  flex: 1;
  height: 0.09rem;
  background-color: var(--textColor);
  opacity: 0.4;
}
