@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #15191e;
}

p {
  font-size: 0.75rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 1.5rem;
  width: 400px;
  gap: 0.8rem;
  background-color: #3d424a;
  color: white;
}
button {
  background-color: white;
  padding: 8px 12px;
  border: none;
  color: black;
  font-size: 1rem;
  border-radius: 10px;
}
.summary {
  background-color: #1d222c;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0.8rem;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
