@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --primary: #0e1931;

  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 0.7rem;
  margin: 0 4%;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
nav > ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  align-items: center;
}
nav > ul li {
  display: flex;
  gap: 0.1rem;
  align-items: center;
}
nav > div {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
nav > div button {
  border-radius: 10px;
  padding: 7px 12px;
  border-width: 1px;
  background-color: transparent;
}

nav > div button:last-child {
  background-color: var(--primary);
  color: white;
  border-color: transparent;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories > ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 65% 35%;
}

.featured {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

article:not(.featured) {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 0.7rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.article-img-wrapper {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

article:not(.featured) .article-img-wrapper {
  height: 100px;
}

.featured .article-img-wrapper {
  height: 300px;
}

.article-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recent-articles {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.recent-articles h4 {
  font-size: 1rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.author img {
  border-radius: 50%;
}
.author > p {
  font-weight: 300;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  body {
    margin: 0 2%;
    padding: 1rem 1rem;
  }
  nav > ul {
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  nav > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .categories > ul {
    flex-wrap: wrap;
  }
  .content main {
    grid-template-columns: 100%;
  }
}
@media (max-width: 480px) {
  body {
    margin: 0 1%;
  }
}
