@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  background-color: #010a10;
  color: white;
  display: flex;
  justify-content: center;

  --grey: #bebebe;
  --primary: #139bfd;
}

.card {
  background-color: #06131b;
  padding: 2rem;
  width: 450px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  border: 1px solid var(--grey);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.card:hover {
  border-color: var(--primary);
}

.top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.top h3 {
  font-size: 3rem;
  font-style: italic;
}
.features {
  color: var(--grey);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.feature-item p {
  font-size: 1.1rem;
}
button {
  background-color: transparent;
  border: 0.8px solid gray;
  color: var(--grey);
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}
button:hover {
  border-color: var(--primary);
}
button p {
  font-size: 1rem;
}

hr {
  opacity: 0.5;
}
