* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #f8f4ec;
}
section {
  background-color: white;
  border: 0.8px solid gray;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.actions {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.actions button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.actions button:hover {
  opacity: 0.7;
  transform: scale(1.01);
}
.actions button:first-child {
  background-color: red;
  color: white;
}
.actions button:last-child {
  background-color: green;
  color: white;
}
