@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 2rem;
}
.card {
  width: 300px;
  height: fit-content;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(255, 217, 0, 0.398);
  backdrop-filter: blur(1px);
}
.content {
  display: flex;
}
.moon {
  flex: 1;
}
.details {
  flex: 1;
}
.summary {
  display: flex;
}
.days-summary {
  display: flex;
}
