@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2a16f;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
}
.card {
  width: 400px;
  background-color: #fff0dd;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  align-items: center;
}

textarea {
  width: 100%;
  padding: 0.3rem;
}
