@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
h1,
h2,
h3 {
  font-family: "Epilogue", sans-serif;
}
.login {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  background-color: white;
  padding: 2rem 6%;
  border-radius: 32px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}
input {
  border-radius: 16px;
  padding: 10px;
  border: 1px solid gray;
}
input::placeholder {
  color: #555555;
}
label {
  font-size: 0.85rem;
}
button {
  border-radius: 16px;
  width: 100%;
  color: white;
  padding: 8px 10px;
  border: none;
  background-color: #e60023;
}
.other {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid gray;
  padding: 5px 8px;
  border-radius: 5px;
  width: 100%;
}
.other > p {
  flex: 1;
  text-align: center;
  font-size: 0.85rem;
  color: #555555;
}
.forgot-password {
  color: #2b48d4;
  align-self: flex-start;
  font-size: 0.85rem;
}
.sign-up-cta {
  font-size: 0.6rem;
  font-weight: 600;
}
.terms {
  font-size: 0.6rem;
  color: #555555;
  text-align: center;
}
.terms span {
  text-decoration: underline;
}
.or {
  font-weight: bold;
}
