@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #282739;

  font-family: "Roboto", sans-serif;
  background-color: #e5e6f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
  color: var(--primary);
}
.account {
  height: fit-content;
  border-radius: 40px;
  padding: 0.3rem 0.8rem;
  background: #f3f4ff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
}
.username {
  opacity: 0.8;
  font-style: italic;
}
.account > img {
  border-radius: 50%;
}
.details {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 1.1rem;
  border-radius: 10px;
  transform: translateY(103%);
  width: 130%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.details.hidden {
  display: none;
}
.acc-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}
.left {
  display: flex;
  gap: 0.3rem;
}
.left > img {
  border-radius: 50%;
}

.check {
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
}
.connect {
  display: flex;
  align-items: center;
  color: #3775e9;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.actions > div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
