@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

footer {
  width: 100vw;
  height: fit-content;
  padding: 3.5rem 2rem;
  color: white;
  background-image: url(./footer_bg.png);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
p,
li {
  font-size: 1.2rem;
  opacity: 0.7;
  font-weight: 400;
}
h3 {
  font-size: 1.5rem;
}
.top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.top > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-list > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.copyright {
  opacity: 0.5;
  z-index: 2;
}
.xmas-tree {
  position: absolute;
  right: -50%;
  bottom: 0;
  transform: rotate(90deg);
  opacity: 0.4;
  z-index: 1;
}

/* Media queries */
@media (min-width: 1024px) {
  .footer {
    padding: 4.5rem 3rem;
  }
  .top {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer-main {
    grid-column: span 2;
  }
}
