* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.avatar {
  border-radius: 5px;
  overflow: hidden;
  height: 15rem;
  width: 15rem;
  border: 6px solid;
  position: relative;
}

.avatar::after {
  content: "";
  position: absolute;

  width: 30px;
  height: 10px;
  background-color: blue;
  border-radius: 5px;

  top: -5px;
  left: 50%;

  transform: translateX(-50%) rotate(0deg);
  transform-origin: 50% calc(7.5rem + 4px);

  animation: orbit 2.5s linear infinite;
}

.avatar:hover::after {
  animation-play-state: paused;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@keyframes orbit {
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
.avatar::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 3rem;
  background-color: red;
  top: 0;
  right: 0;
  z-index: 999;
  animation: move 5s infinite ease;
}

@keyframes move {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    right: 0;
    top: 0;
  }
  50% {
    bottom: 0;
    right: 0;
  }
  75% {
    bottom: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
