* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.avatar {
  position: relative;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 8px solid #e10000;
}

.avatar::after {
  content: "";
  position: absolute;

  width: 30px;
  height: 10px;
  background-color: blue;
  border-radius: 5px;

  top: -5px;
  left: 50%;

  transform: translateX(-50%) rotate(0deg);
  transform-origin: 50% calc(7.5rem + 4px);

  animation: orbit 2.5s linear infinite;
}

.avatar:hover::after {
  animation-play-state: paused;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@keyframes orbit {
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
