* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;

  --switch-height: 40px;
  --switch-width: 90px;
}
.switch {
  display: inline-block;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
}
.ball {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: var(--switch-height);
  cursor: pointer;
}
.ball::before {
  content: "";
  position: absolute;
  height: 80%;
  aspect-ratio: 1 /1;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}
input {
  display: none;
}

input:checked + .ball {
  background-color: green;
}
input:checked + .ball::before {
  transform: translate(-110%, -50%);
  left: 100%;
}
