@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.card {
  width: 350px;
}
.img-wrapper {
  position: relative;
  height: 17rem;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tag {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #f0524c;
  border-radius: 50%;
  padding: 0.4rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
}
.actions {
  position: absolute;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  padding: 0.3rem 0.5rem;
}
.content h4 {
  font-weight: 500;
  color: #555555;
}
.content > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content > div p:first-child {
  font-size: 0.85rem;
  text-decoration: line-through;
  color: #555555;
}
.content > div p:last-child {
  font-weight: 700;
  font-size: 1.2rem;
}
