@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;

  --text-color: #555555;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.img-wrapper {
  height: 17rem;
  border-radius: 25%;
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-align: center;
}
.details p {
  color: var(--text-color);
  font-weight: 300;
  font-size: 0.85rem;
}
