@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.8rem 0.9rem 0.8rem;
  gap: 0.5rem;
}
.details > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details > div p:nth-child(2) {
  font-weight: 600;
}
.price {
  color: green;
}
.discount {
  color: red;
}
.btn {
  padding: 5px 8px;
  border: none;
  color: white;
  border-radius: 5px;
}

.actions {
  margin-top: 0.4rem;
}
.view {
  background-color: blue;
}
.share {
  background-color: black;
}
