@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
}

.img-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 22rem;
  cursor: pointer;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.img-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.1s ease-out;
}

.img-wrapper:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.img-wrapper .overlay {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease-out;
}
.img-wrapper:hover .overlay {
  opacity: 1;
}

.overlay > div {
  padding: 0.8rem;
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s ease-in-out;
}

.overlay > div:hover {
  transform: scale(1.1);
}
.overlay > div i {
  font-size: 1.5rem;
  color: #323232ee;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.content h3 {
  font-size: 1.5rem;
}
.content p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #595959ee;
}
