@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  width: 350px;
}
.img-container {
  height: 23rem;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
}
.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.secondary-image {
  display: none;
}
.img-container:hover .main-image {
  display: none;
}
.img-container:hover .secondary-image {
  display: block;
}
h3 {
  font-weight: 400;
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
}
.rating > * {
  color: #fbb800;
  font-size: 1.1rem;
}

.color-selector {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.color-wrapper {
  border-radius: 50%;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid gainsboro;
  padding: 0.1rem;
  cursor: pointer;
}
.color-wrapper > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
