@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input,
select {
  padding: 5px 10px;
  background-color: beige;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  padding: 7px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
button:hover {
  opacity: 0.8;
}
.result {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  display: none;
  width: 20px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #ffffff00);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
