@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #a7fe89;

  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1.5rem;
  padding: 2rem;
  background-color: black;
  position: relative;
}

.glow {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: var(--primary);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.3;
  filter: blur(30px);
}

section {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
section > div {
  border-radius: 5px;
  padding: 2rem 1.2rem;
  background-color: #2a2b2a;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

section > div:hover {
  border-color: var(--primary);
}

section div:nth-child(2) {
  height: 140%;
}

.name {
  font-size: 1.3rem;
  color: var(--primary);
}
.features {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.feature {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.price {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
.price p:first-child {
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
}
.price p:nth-child(2) {
  align-self: flex-end;
}
.badge {
  font-weight: 600;
  color: var(--primary);
  background-color: #354330;
  padding: 0.3rem 0.6rem;
  width: fit-content;
  border-radius: 5px;
  font-style: italic;
}
.disclaimer {
  color: white;
}
