@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #21748e;

  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  background-color: #eaf4fd;
  display: flex;
  justify-content: center;
}
main {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.desc {
  text-align: center;
}
.preview {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.preview > div {
  position: relative;
  background-color: white;
  height: 10rem;
  padding: 0.9rem;
  flex: 1;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.preview div:first-child {
  border: 3px solid var(--primary);
}

.preview div:nth-child(2) .badge {
  background-color: #e55a4e;
}

.preview > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.details {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.left,
.right {
  flex: 1;
}
.left {
  background-color: white;
  padding: 0.5rem;
  height: 20rem;
  border-radius: 5px;
  position: relative;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  height: 100%;
  padding: 1rem 0.3rem;
}
.right h2 {
  font-size: 1.3rem;
}
.price {
  font-size: 1.5rem;
  font-weight: 600;
}
.summary {
  color: #78828d;
  font-size: 0.85rem;
}
button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary);
  color: white;
  padding: 9px 14px;
  border: none;
  width: fit-content;
  margin-top: auto;
}
.badge {
  position: absolute;
  color: white;
  background-color: var(--primary);
  top: 0;
  left: 0;
  padding: 0.2rem 0.4rem;
}
