@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #04bea6;
  --secondary: #838383;

  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;

  padding: 2rem;
}
p {
  color: var(--secondary);
}
.card {
  width: 350px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  /* box-shadow: rgba(4, 190, 166, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(4, 190, 166, 0.16) 0px 10px 36px 0px,
    rgba(4, 190, 166, 0.06) 0px 0px 0px 1px;
}
.header {
  display: flex;
}
.header > i {
  font-size: 1.2rem;
  color: #555555;
}
.header > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
}
.header > div .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}
.header > div .content p:first-child {
  text-transform: uppercase;
  font-size: 0.85rem;
}
.header > div .content p:last-child {
  font-size: 0.7rem;
}
.header > div .content h3 {
  font-size: 1.1rem;
  color: #555555;
}
.img-wrapper {
  height: 10rem;
}
.img-wrapper > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.slider {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.slider div:first-child {
  width: 100%;
  height: 0.2rem;
  border-radius: 5px;
  background-color: var(--primary);
}
.slider div:last-child {
  display: flex;
  justify-content: space-between;
}
.controls {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls > i {
  font-size: 1.3rem;
}
.play {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  aspect-ratio: 1/1;
}
.player-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.player-list > div {
  display: flex;
  gap: 0.4rem;
  justify-content: space-between;
}
.player-list .active {
  position: relative;
}
.player-list .active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  left: -5%;
  top: 50%;
  transform: translateY(-50%);
}

.player-list .active > p {
  font-weight: 600;
  color: black;
}
