@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.card {
  width: 350px;
  min-height: 200px;
  border-radius: 5px;
  padding: 1rem;
  background-image: url("./bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 999;
  color: white;
}
.content > div {
  background-color: white;
  padding: 5px 12px;
  display: flex;
  color: black;
  width: fit-content;
  gap: 0.4rem;
  border-radius: 5px;
}
.content .from {
  align-self: flex-end;
  font-size: 0.7rem;
}
.content .price {
  font-size: 0.9rem;
  font-weight: bold;
}
.card button {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  width: fit-content;
  color: white;
  border-bottom-style: dotted;
}
