@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #eb7d24;
  padding: 2rem;
  font-family: "Inter", sans-serif;
  background-color: #faf8f1;
}
.auth {
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.auth > * {
  flex: 1;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.left > div > button {
  width: fit-content;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.input-group {
  position: relative;
}
.input-group > i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.right > button {
  border-radius: 10px;
  border: none;
  padding: 8px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(90deg, black, var(--primary));
}

input {
  padding: 8px 10px;
  background: rgb(223, 222, 222);
  width: 100%;
  border: none;
  border-radius: 5px;
}
.socials {
  display: flex;
  gap: 5px;
}
.socials > div {
  border: 1px solid gray;
  padding: 0.4rem;
  border-radius: 5px;
}
