@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #eb7d24;

  padding: 2rem;
  font-family: "Inter", sans-serif;
  background-color: #faf8f1;
  display: flex;
  justify-content: center;
}

.auth {
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  width: 550px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.auth > * {
  flex: 1;
}
.left,
.right2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}
.left {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.left > div,
.right2 > div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  text-align: center;
  color: white;
}
.left > div > p,
.right2 > div > p {
  font-size: 0.75rem;
}

.left > div > button,
.right2 > div > button {
  width: fit-content;
  padding: 5px 12px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  font-size: 0.75rem;
}

.right,
.left2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.right p,
.left2 p {
  font-size: 0.75rem;
  color: #555555;
}

.input-group {
  position: relative;
  width: 100%;
}
.input-group > i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.right > button,
.left2 > button {
  border-radius: 10px;
  border: none;
  padding: 8px 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  background: linear-gradient(90deg, black, var(--primary));
}

input {
  padding: 8px 10px;
  background: rgb(223, 222, 222);
  width: 100%;
  border: none;
  border-radius: 5px;
}
.socials {
  display: flex;
  gap: 0.5rem;
}
.socials > div {
  border: 1px solid gray;
  padding: 0.4rem;
  border-radius: 5px;
}

/* specific */
.right2 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
