@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  background-color: #d2d2de;
  display: flex;
  justify-content: center;
}
.card {
  position: relative;
  width: 450px;
  border-radius: 20px;
  color: #e4eaff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #434682;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card::before {
  content: "";
  position: absolute;
  background-color: #f60893;
  height: 0.3rem;
  width: 100%;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header h3 {
  color: white;
}
.header > div p {
  font-size: 0.8rem;
}
.header i {
  color: white;
}
.desc {
  font-size: 0.85rem;
}
.avatar-group {
  display: flex;
  gap: 0.4rem;
}
.avatar-group > div {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  height: 3rem;
}

.avatar-group > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tasks {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.tasks > p {
  font-weight: 600;
}
.progress {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.progress > div {
  border-radius: 5px;
  height: 0.3rem;
  background-color: #12144b;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.progress > div::before {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, #03e3c6, #5cd6e4);
  width: 43%;
  height: 100%;
}
.progress > p {
  font-weight: 600;
}
